version: "3.9"

services:
  app:
    container_name: hikarimed_node_app
    build: .
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      NODE_ENV: production
    volumes:
      - .:/app
      - /app/node_modules

