version: "3.9"

services:
  app:
    container_name: hms-backend-app
    build: .
    ports:
      - "3000:3000"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules

